{% extends "cashierlayout.html" %}

{% block javascript %}

	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
	google.charts.load('current', {'packages':['corechart']});
	google.charts.setOnLoadCallback(drawChart);
	function processJsonString(chartData) {
    var regex = /^[a-z0-9]+$/i
    var processChartData = [];
    var currString = "";
    for (let i = 0; i < chartData.length; i++) {
      if (!chartData[i].match(regex)) {
        if (currString.length > 0) {
          processChartData.push(currString);
          currString = "";
        }
      }
      else {
        currString += chartData[i];
      }
    }

    var finalData = []
    for (let i = 0; i < processChartData.length / 2; i++) {
      if (i === 0) {
        finalData.push([processChartData[i], processChartData[i+1]])
      }
      else {
        finalData.push([processChartData[i*2], parseInt(processChartData[(i*2)+1])])
      }
    }
    return finalData;
  }
console.log('{{ chartList|tojson }}')
	function drawChart() {
		var data = google.visualization.arrayToDataTable(processJsonString('{{ chartList|tojson }}'));

		var options = {
		title: 'Sales Chart',
		titleTextStyle: {
			color:'white'
		},
		curveType: 'function',
		legend: { position: 'bottom' },
		legendTextStyle: {
			color:'white'
		},
		vAxis: {
			textStyle: {
				color:'grey'
			}
		},
		hAxis: {
			textStyle: {
				color:'grey'
			}
		},
		backgroundColor: '#252b45'
		};

		var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

		chart.draw(data, options);
	}
	</script>

{% endblock %}

{% block content %}

<!-- Nav -->
<div class="container">
	<input type="radio" name="s" id="home" checked>
	<input type="radio" name="s" id="code">
	<input type="radio" name="s" id="profile">
	<nav>
		<ul>
			<label class="home" for="home">
				<a href="{{url_for('cashierhome')}}">
					<i class='bx bx-home'></i>
				</a>
			</label>
			<label class="code" for="code">
				<a href="{{url_for('cashierqr')}}">
					<i class='bx bx-qr'></i>
				</a>
			</label>
			<label class="profile" for="profile">
				<a href="{{url_for('cashierprofile')}}">
					<i class='bx bx-user'></i>
				</a>
			</label>
		</ul>
	</nav>
</div>

<!-- Banner -->
	<section id="banner" class="major">
		<div class="inner">
			<header class="major">
				<h1>Hi, <a href="{{url_for('cashierprofile')}}">{{ current_user.username }}</a></h1>
			</header>
			<div class="content">
				<p>Begin your business journey today</p>
				<ul class="actions">
					<li><a href="{{url_for('manageVouchers')}}" class="button next scrolly">Manage Vouchers</a></li>
				</ul>
			</div>
		</div>
	</section>
<!-- Chart -->
{% if sold %}
	<div id="curve_chart" style="width: 100%; height: 100%"></div>
{% endif %}
<!-- Main -->
	<div id="main">

		<!-- One -->
			<section id="one" class="tiles">

				


				{% if sold %}
					<h3>Sales Revenue: $ {{ revenue }}</h3>
					<h3>Vouchers sold: {{ sold }}</h3>
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>Description</th>
									<th>Voucher Sale Price</th>
									<th>Quantity Sold</th>
								</tr>
							</thead>
							<tbody>
								{% for voucher in vouchers %}
								<tr>
									<td>${{ voucher.value }} Voucher</td>
									<td>$ {{ voucher.cost }}</td>
									<td>{{voucher.sold}}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				{% else %}
					<h3>No sales yet</h3>
					<p>go to Manage Vouchers to start creating vouchers now!</p>

				{% endif %}

			</section>
{% endblock %}
