<!DOCTYPE HTML>

<html>
	<head>
		<title>ShopSave</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{url_for('static', filename='assets/css/main.css')}}" />
		<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
		<noscript><link rel="stylesheet" href="{{url_for('static', filename='assets/css/noscript.css')}}" /></noscript>
		{% block javascript %}{% endblock %}
	</head>
	<body class="is-preload">
		<!-- Nav -->


		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->

					{% with messages = get_flashed_messages() %}
					{% if messages %}
						<ul class=flashes style="width:100%; margin:0 auto;">
						{% for message in messages %}
						<div><b>{{ message }}</b></div>
						{% endfor %}
						</ul>
					{% endif %}
					{% endwith %}
                {% block content %}{% endblock %}

						

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="/cashier/logout" class = "button">
									<i class='bx bx-log-out' ></i> Log out
								</a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; ShopSave</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{{url_for('static', filename='assets/js/jquery.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/jquery.scrolly.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/jquery.scrollex.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/browser.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/breakpoints.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/util.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/main.js')}}"></script>

	</body>
</html>