{% extends "userlayout.html" %}

{% block content %}

<!-- Nav -->
<div class="container">
	<input type="radio" name="s" id="home" >
    <input type="radio" name="s" id="wallet" checked>
    <input type="radio" name="s" id="code">
	<nav>
		<ul>
			<label class="home" for="home">
				<a href="{{url_for('userhome')}}">
					<i class='bx bx-home'></i>
				</a>
			</label>
			<label class="wallet" for="wallet">
				<a href="{{url_for('uservoucherwallet')}}">
					<i class='bx bx-wallet'></i>
				</a>
			</label>
			<label class="code" for="code">
				<a href="{{url_for('userprofile')}}">
					<i class='bx bx-user'></i>
				</a>
			</label>
		</ul>
	</nav>
</div>


<!-- Banner -->
{% if available == 0 %}
	<section id="banner" class="major">
		<div class="inner">
			<header class="major">
				<h1>Claimed Vouchers</h1>
			</header>
			<div class="content">
				<p>There are currently no claimed vouchers from {{ data }}</p>
				<ul class="actions">
					<li><a href="{{url_for('userhome')}}" class="button next scrolly">Purchase vouchers here!</a></li>
				</ul>
			</div>
		</div>
	</section>
{% else %}
	<section id="banner" class="major">
		<div class="inner">
			<header class="major">
				<h1>Available Vouchers</h1>
			</header>
			<div class="content">
				<p>You have not purchase any vouchers from {{ data }}</p>
				<ul class="actions">
					<li><a href="{{url_for('userhome')}}" class="button next scrolly">Purchase vouchers here!</a></li>
				</ul>
			</div>
		</div>
	</section>
{% endif %}
<!-- Main -->
	<!-- <div id="main"> -->
		<!-- One -->
			<!-- <section id="one" class="tiles">
				<article>
					<header class="major fit">
						<h3><a>There are no vouchers used or expired</a></h3>
						<ul class="actions">
							<li><a href="{{url_for('uservoucher', cashiername=data[0].cashiername)}}" class="button next scrolly">Go back to your available vouchers</a></li>
						</ul>
					</header>
				</article>
			</section> -->
{% endblock %}