{% extends "userlayout.html" %}

{% block content %}

<!-- Banner -->
	<section id="banner" class="major">
		<div class="inner">
			<header class="major">
				<h1>Hi, {{ current_user.username }}</h1>
			</header>
			<div class="content">
				<p>Check out the available vouchers here!</p>
				<ul class="actions">
					<li><a href="{{url_for('userhome')}}" class="button next scrolly">Start saving</a></li>
				</ul>
			</div>
		</div>
	</section>

<!-- Main -->
	<div id="main">
		<!-- One -->
			<section id="one" class="tiles">
				<article>
					<span class="image">
						<img src="{{url_for('static', filename='images/emptywallet.jpg')}}" alt="" />
					</span>
					<header class="major">
						<h3><a href="{{url_for('userhome')}}" class="link">Purchase vouchers here</a></h3>
					</header>
				</article>
			</section>
{% endblock %}