{% extends "landinglayout.html" %}

{% block content %}
<!-- Header -->
	<header id="header">
		<div class="logo">
			<span class="icon fa-gem"></span>
		</div>
		<div class="content">
			<div class="inner">
				<h1>ShopSave</h1>
				<p>Your personalised digital voucher wallet. <br> Experience a world of savings at your fingertips. <br> <h2> Select your role below </h2> </p>
			</div>
		</div>
		<nav>
			<ul>
				<li><a href="{{url_for('users')}}">User</a></li>
				<li><a href="{{url_for('cashier')}}">Cashier</a></li>
			</ul>
		</nav>
	</header>
{% endblock %}
