<!DOCTYPE HTML>

<html>
	<head>
		<title>ShopSave</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets_2/css/main.css')}}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets_2/css/noscript.css')}}" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul class=flashes>
					{% for message in messages %}
					<li>{{ message }}</li>
					{% endfor %}
					</ul>
				{% endif %}
				{% endwith %}
				{% block content %}{% endblock %}


				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; shopsave.</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='assets_2/js/jquery.min.js')}}"></script>
			<script src="{{ url_for('static', filename='assets_2/js/browser.min.js')}}"></script>
			<script src="{{ url_for('static', filename='assets_2/js/breakpoints.min.js')}}"></script>
			<script src="{{ url_for('static', filename='assets_2/js/util.js')}}"></script>
			<script src="{{ url_for('static', filename='assets_2/js/main.js')}}"></script>

	</body>
</html>
