<!DOCTYPE HTML>

<html>
	<head>
		<title>ShopSave</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{url_for('static', filename='assets/css/main.css')}}" />
		<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
		<noscript><link rel="stylesheet" href="{{url_for('static', filename='assets/css/noscript.css')}}" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Nav -->
		<div class="container">
			<input type="radio" name="s" id="home">
			<input type="radio" name="s" id="code" checked>
			<nav>
				<ul>
					<label class="home" for="home">
						<a href="{{url_for('cashierhome')}}">
							<i class='bx bxs-home'></i>
						</a>
					</label>
					<label class="code" for="code">
						<a href="{{url_for('cashierqr')}}">
							<i class='bx bx-qr'></i>
						</a>
					</label>
				</ul>
			</nav>
		</div>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">

					</header>
					{% with messages = get_flashed_messages() %}
					{% if messages %}
						<ul class=flashes>
						{% for message in messages %}
						<li>{{ message }}</li>
						{% endfor %}
						</ul>
					{% endif %}
					{% endwith %}

					<!-- Main -->
						<div id="main" class="alt">

							<!-- One -->
								<section id="one">
									<div class="inner">
										<header class="major">
											<h1>Scan QR</h1>
										</header>
										<div id="qr-reader" style="max-width: 90%"></div>
									</div>
								</section>

						</div>

	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				<li><a href="/cashier/logout" class = "button">
					<i class='bx bx-log-out' ></i> Log out
				</a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; ShopSave</li>
			</ul>
		</div>
	</footer>

</div>

<!-- Scripts -->
<script src="{{url_for('static', filename='assets/js/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/jquery.scrolly.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/jquery.scrollex.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/browser.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/breakpoints.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/util.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/main.js')}}"></script>
<script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script type="text/javascript">


async function makeQrAuthenticationAPIcall(qrId) {
	console.log('api resquest made');
	const endpoint = '/cashier/scanQR/' + qrId;
  	const response = await fetch(endpoint, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    }
  });
  if (response.status === 200) {
	const jsonResponse = await response.json(); // check if we need to await again
  	console.log(jsonResponse);
	return jsonResponse;
  } else {
	console.log(response);
	console.log(response.status, response.statusText);
  }
}


async function onScanSuccess(decodedText, decodedResult) {
	window.alert('successful scan');
    console.log(`Code scanned = ${decodedText}`, decodedResult);
	await makeQrAuthenticationAPIcall(decodedText);
}


var html5QrcodeScanner = new Html5QrcodeScanner(
	"qr-reader", { fps: 10, qrbox: 250 });
html5QrcodeScanner.render(onScanSuccess );

</script>
</body>
</html>