{% extends "userlayout.html" %}

{% block content %}

<header id="header" class="alt">

</header>


<!-- Nav -->
<div class="container">
	<input type="radio" name="s" id="home" checked>
    <input type="radio" name="s" id="wallet">
    <input type="radio" name="s" id="code">
	<nav>
		<ul>
			<label class="home" for="home">
				<a href="{{url_for('userhome')}}">
					<i class='bx bx-home'></i>
				</a>
			</label>
			<label class="wallet" for="wallet">
				<a href="{{url_for('uservoucherwallet')}}">
					<i class='bx bx-wallet'></i>
				</a>
			</label>
			<label class="code" for="code">
				<a href="{{url_for('userprofile')}}">
					<i class='bx bx-user'></i>
				</a>
			</label>
		</ul>
	</nav>
</div>

<!-- Banner -->
	<section id="banner" class="major">
		<div class="inner">
			<header class="major">
				<h1>Hi, <a href="{{url_for('userprofile')}}">{{ current_user.username }}</a></h1>
			</header>
			<div class="content">
				<p>Check out the available shops below!</p>
				<ul class="actions">
					<li><a href="#one" class="button next scrolly">Start saving</a></li>
				</ul>
			</div>
		</div>
	</section>

<!-- Main -->
	<div id="main">
		<!-- One -->
			<section id="one" class="tiles">
				{% for name, count, pic in data %}
					<a href="{{url_for('uservoucherstore', cashiername=name)}}" class="link">
						<article>
							<span class="image">
								<img src="{{url_for('static', filename='uploads/'+pic)}}" alt="Image description">
							</span>
							<header class="major">
								<h3><a href="{{url_for('uservoucherstore', cashiername=name)}}" class="link">{{ name }}</a></h3>
								
								<p>{{ count }} Vouchers available for sale </p>
							</header>
						</article>
					</a>


				{% endfor %}
			</section>
{% endblock %}