{% extends "landinglayout.html" %}

{% block content %}
<!-- Header -->
	<header id="header">
		<div class="logo">
			<span class="icon fa-gem"></span>
		</div>
		<div class="content">
			<div class="inner">
				<h1>ShopSave</h1>
				<p>Your personalised digital voucher wallet. <br> Experience a world of savings at your fingertips.</p>
			</div>
		</div>
		<nav>
			<ul>
				<li><a href="#login">Login</a></li>
				<li><a href="#register">Register</a></li>
			</ul>
		</nav>
	</header>

<!-- Main -->
	<div id="main">

		<!-- Login -->
			<article id="login">
				<h2 class="major">Login</h2>
				<form method="POST" action="">
					{{ userlogin_form.hidden_tag() }}
					<div class="fields">

						<div class="field half">
							{{ userlogin_form.username.label(class="form-control-label") }}
							{% if userlogin_form.username.errors %}  
								{{ userlogin_form.username(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in userlogin_form.username.errors %}
										<span>{{ error }}</span> 
									{% endfor %}
								</div>
							{% else %}
								{{ userlogin_form.username(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<br>
						<div class="field half">
							{{ userlogin_form.password.label(class="form-control-label") }}
                    {% if userlogin_form.password.errors %}  
                        {{ userlogin_form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in userlogin_form.password.errors %}
                                <span>{{ error }}</span> 
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ userlogin_form.password(class="form-control form-control-lg") }}
                    {% endif %}
						</div>
					</div>
					<div>
						{{ userlogin_form.remember(class="form-check-input") }}
						{{ userlogin_form.remember.label(class="form-check-label") }}
					</div>
					<ul class="actions">
						<li>{{ userlogin_form.submit(class="btn btn-outline-info") }}</li>
						<li><a href="#forgot" class="button">Forget Password</a></li>
					</ul>
				</form>
				
			</article>

		<!-- Register -->
			<article id="register">
				<h2 class="major">Register</h2>
				<form method="POST" action="">
					{{ userregister_form.hidden_tag() }}
					<div class="fields">
						<div class="field half">
							{{ userregister_form.username.label(class="form-control-label") }}

							{% if userregister_form.username.errors %}  
								{{ userregister_form.username(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in userregister_form.username.errors %}
										<span>{{ error }}</span> 
									{% endfor %}
								</div>
							{% else %}
								{{ userregister_form.username(class="form-control form-control-lg") }}
							{% endif %}
						</div>

						<div class="field half">
							{{ userregister_form.email.label(class="form-control-label") }}
							{% if userregister_form.email.errors %}  
								{{ userregister_form.email(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in userregister_form.email.errors %}
										<span>{{ error }}</span> 
									{% endfor %}
								</div>
							{% else %}
								{{ userregister_form.email(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<div class="field half">
							{{ userregister_form.password.label(class="form-control-label") }}
							{% if userregister_form.password.errors %}  
								{{ userregister_form.password(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in userregister_form.password.errors %}
										<span>{{ error }}</span> 
									{% endfor %}
								</div>
							{% else %}
								{{ userregister_form.password(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<div class="field half">
							{{ userregister_form.confirm_password.label(class="form-control-label") }}
							{% if userregister_form.confirm_password.errors %} 
								{{ userregister_form.confirm_password(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in userregister_form.confirm_password.errors %}
										<span>{{ error }}</span> 
									{% endfor %}
								</div>
							{% else %}
								{{ userregister_form.confirm_password(class="form-control form-control-lg") }}
							{% endif %}
						</div>
					</div>
					<ul class="actions">
						{{ userregister_form.submit(class="btn btn-outline-info") }}
					</ul>
				</form>
			</article>
			
		<!-- Forgot -->
			<article id="forgot">
				<h2 class="major">Forgot Password</h2>
				<form method="post" action="#">
					<div class="fields">

						<div class="field half">
							<label for="email">Email</label>
							<input type="text" name="email" id="email" />
						</div>
						<br>
						<div class="field half">
							<label for="message">Password</label>
							<input type="password" name="password" id="password"/>
						</div>
						<div class="field half">
							<label for="message">Confirm Password</label>
							<input type="password" name="password" id="password"/>
						</div>
					</div>
					<ul class="actions">
						<li><input type="submit" value="Update Password" class="primary" /></li>
					</ul>
				</form>
				
			</article>						

	</div>
{% endblock %}
