{% extends "userlayout.html" %}

{% block content %}

<!-- Banner -->
	<section id="banner" class="major">
		<div class="inner">
			<header class="major">
				<h1>Hi, {{ current_user.username }}</h1>
			</header>
			<div class="content">
				<p>Check out the available vouchers below!</p>
				<ul class="actions">
					<li><a href="#one" class="button next scrolly">Start saving</a></li>
				</ul>
			</div>
		</div>
	</section>

<!-- Main -->
	<div id="main">
		<!-- One -->
			<section id="one" class="tiles">
				{% for vouchers in data %}
					<!-- <article>
						<span class="image">
							<img src="{{url_for('static', filename='images/pic02.jpg')}}" alt="" />
						</span>
						<header class="major">
							<h3><a href="{{url_for('userhome', userid=vouchers.id)}}" class="link">{{ vouchers.value }}</a></h3>
							<p>{{ vouchers.cashiername }}</p>
						</header>
					</article> -->

					<div class="voucher-card">
						<div class="voucher-main">
						  <div class="voucher-co-img">
							<img
							  src="https://i.pinimg.com/originals/c7/84/67/c78467db9ff497393cb548a48f02d451.png"
							  alt=""
							/>
						  </div>
						  <div class="voucher-vertical"></div>
						  <div class="voucher-content">
							<div class="voucher-title">{{ vouchers.cashiername }}</div>
							<div class="voucher-content">$ <span>{{ vouchers.value }}</span></div>
							<div class="voucher-expiry">Valid till 30 April 2021</div>
						  </div>
						</div>
						<div class="claim-button-body">
						  <a href="{{url_for('userhome', userid=vouchers.id)}}" style="width:100%; display: flex; justify-content:center;"><button class="claim-button">Claim</button></a>
						</div>
					  </div>


				{% endfor %}
			</section>
{% endblock %}