{% extends "userlayout.html" %}

{% block content %}

<!-- Nav -->
<div class="container">
	<input type="radio" name="s" id="home">
    <input type="radio" name="s" id="wallet" checked>
    <input type="radio" name="s" id="code">
	<nav>
		<ul>
			<label class="home" for="home">
				<a href="{{url_for('userhome')}}">
					<i class='bx bxs-home'></i>
				</a>
			</label>
			<label class="wallet" for="wallet">
				<a href="{{url_for('uservoucherwallet')}}">
					<i class='bx bx-wallet-alt'></i>
				</a>
			</label>
			<label class="code" for="code">
				<a href="{{url_for('userQR')}}">
					<i class='bx bx-qr'></i>
				</a>
			</label>
		</ul>
	</nav>
</div>

<!-- Banner -->
	<section id="banner" class="major">
		<div class="inner">
			<header class="major">
				<h1>Hi, {{ current_user.username }}</h1>
			</header>
			<div class="content">
				<p>Check out the available vouchers here!</p>
				<ul class="actions">
					<li><a href="{{url_for('userhome')}}" class="button next scrolly">Start saving</a></li>
				</ul>
			</div>
		</div>
	</section>

<!-- Main -->
	<div id="main">
		<!-- One -->
			<section id="one">
				<article>
					<header class="major">
						<h3>{{ data[0].cashiername}}, {{data[0].value }}</h3>
					</header>
					<span class="image fit">
						<img src = "{{ url_for('static', filename='qr/voucherqr{}.jpeg'.format(data[0].id))}}" alt=""/> 
					</span>
				</article>
			</section>
{% endblock %}