{% extends "userlayout.html" %}

{% block content %}

<!-- Banner -->
	<section id="banner" class="major">
		<div class="inner">
			<header class="major">
				<h1>Hi, {{ current_user.username }}</h1>
			</header>
			<div class="content">
				<p>Check out the available vouchers here!</p>
				<ul class="actions">
					<li><a href="{{url_for('userhome')}}" class="button next scrolly">Start saving</a></li>
				</ul>
			</div>
		</div>
	</section>

<!-- Main -->
	<div id="main">
		<!-- One -->
			<section id="one">
				<article>
					<header class="major">
						<h3>{{ data[0].cashiername}}, {{data[0].value }}</h3>
					</header>
					<span class="image fit">
						<img src = "{{ url_for('static', filename='qr/voucherqr{}.jpeg'.format(data[0].id))}}" alt=""/> 
					</span>
				</article>
			</section>
{% endblock %}