{% extends "userlayout.html" %}

{% block content %}

<!-- Nav -->
<div class="container">
	<input type="radio" name="s" id="home">
    <input type="radio" name="s" id="wallet" checked>
    <input type="radio" name="s" id="code">
	<nav>
		<ul>
			<label class="home" for="home">
				<a href="{{url_for('userhome')}}">
					<i class='bx bx-home'></i>
				</a>
			</label>
			<label class="wallet" for="wallet">
				<a href="{{url_for('uservoucherwallet')}}">
					<i class='bx bx-wallet'></i>
				</a>
			</label>
			<label class="code" for="code">
				<a href="{{url_for('userprofile')}}">
					<i class='bx bx-user'></i>
				</a>
			</label>
		</ul>
	</nav>
</div>


<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<header class="major">
				<h1>Voucher Wallet</h1>
			</header>
			<!-- <div class="content">
				<p>For more vouchers here!</p>
				<ul class="actions">
					<li><a href="{{url_for('userhome')}}" class="button next scrolly">Start saving</a></li>
				</ul>
			</div> -->
		</div>
	</section>

<!-- Main -->
	<div id="main">
		<!-- One -->
			<section id="one" class="tiles">
				{% for voucher in data %}
					<article>
						<span class="image">
							<img src="{{url_for('static', filename='images/pic01.jpg')}}" alt="" />
						</span>
						<header class="major">
							<h3><a href="{{url_for('uservoucher', cashiername=voucher)}}" class="link">{{ voucher }}</a></h3>
							<p>Ipsum dolor sit amet</p>
						</header>
					</article>
				{% endfor %}
			</section>
	</div>

<!-- trying -->
<ul id="cards">
	{% for key, value in data.items() %}
		<li class="card">
			<div style="margin: 10px 3.5px 0 -20px;" class="card__content">
				<div>
					<h2 span style="color:#232B47;">{{ key }}</span></h2>
					<p>Number of vouchers: {{ value }}</p>
					<p id={{key}}><a style="display:block;" href="{{url_for('uservoucher', cashiername=key)}}" class="btn btn--accent">{{ key }}</a><p>
				</div>
				<figure>
				<img src="https://codyhouse.co/demo-tutorials/stacking-cards/assets/img/img-2.jpg" alt="Image description">
				</figure>
			</div>
		</li>
	{% endfor %}	
</ul>
{% endblock %}