{% extends "userlayout.html" %}

{% block content %}

<!-- Nav -->
<div class="container">
	<input type="radio" name="s" id="home">
    <input type="radio" name="s" id="wallet" checked>
    <input type="radio" name="s" id="code">
	<nav>
		<ul>
			<label class="home" for="home">
				<a href="{{url_for('userhome')}}">
					<i class='bx bx-home'></i>
				</a>
			</label>
			<label class="wallet" for="wallet">
				<a href="{{url_for('uservoucherwallet')}}">
					<i class='bx bx-wallet'></i>
				</a>
			</label>
			<label class="code" for="code">
				<a href="{{url_for('userprofile')}}">
					<i class='bx bx-user'></i>
				</a>
			</label>
		</ul>
	</nav>
</div>


<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<header class="major">
				<h1>Voucher Wallet</h1>
			</header>
			<!-- <div class="content">
				<p>For more vouchers here!</p>
				<ul class="actions">
					<li><a href="{{url_for('userhome')}}" class="button next scrolly">Start saving</a></li>
				</ul>
			</div> -->
		</div>
	</section>

<!-- trying -->
<div class = "cardroot{{ value }}">
	<ul id="cards">
		{% for key, value, position, user_pic in data %}
			<li class="card" id = "card_{{ position }}">
				<a href="{{url_for('uservoucher', cashiername=key)}}">
					<div style="margin: 10px 3.5px 0 -20px;" class="card__content">
						<div>
							<h2 span style="color:#232B47;">{{ key }}</span></h2>
							<p>Number of vouchers: </p>
							<p1> {{ value }} </p1>
						</div>
						<figure>
						<img src="{{url_for('static', filename='uploads/'+user_pic)}}" alt="Image description">
						
						</figure>
					</div>
				</a>
			</li>
		{% endfor %}	
	</ul>
</div>
{% endblock %}